<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load custom_filters %}
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
</head>
<body>
    <div class="buttons">
        <form id="last_submit" action="latest"><input type="submit" value="Last 100 Logs"></form>

        <form id="missed_submit" action="few_duplicates"><input type="submit" value="Log with < 16 duplicates"></form>

        <form id="by_date_submit" action="by_date">
            <label for="first">Earliest</label>
            <input id="first" type="text" name="start" placeholder="YYYY, MM, DD, HH, mm">
            <label for="last">Oldest</label>
            <input id="last" type="text" name="end" placeholder="YYYY, MM, DD, HH, mm">
            <input type="submit" value="Submit">
        </form>

        <form id="interval_submit" action="latest">
            <label for="start">Start</label>
            <input id="start" type="text" name="start" placeholder="0" style="text-align: center">
            <label for="end">End</label>
            <input id="end" type="text" name="end" placeholder="100" style="text-align: center">
            <input type="submit" value="Submit">
        </form>

    </div>

    <div style="margin: 10px">
        <p>Total: {{ log_length }} Logs vorhanden</p>
    </div>
        {% for log, error_list in err_dict.items %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="dark">
                    <div>timestamp: {{ log.timestamp|date:"D d. M. Y, H:i:s" }}
                        <div class="log_numerator">{{ forloop.counter }}</div>
                    </div>
                        <p>Insgesamt gecrawlte entries: {{ log.duplicate_entries|add:log.new_entries }} ||
                            Davon schon in Datenbank vorhandene:
                                {% if log.duplicate_entries <= 15 %}
                                <b style="color: red;">{{ log.duplicate_entries }}</b>
                                {% else %}
                                {{ log.duplicate_entries }}
                                {% endif %} ||
                            Neu gecrawlte entries: {{ log.new_entries }}
                        </p>
                    <div><b>Errors: {{ error_list|length }}</b></div>
                    {% for error in error_list %}
                    <div>{{ error.err_type }} ||
                                               {{ error.caused_by }} </div>
                    {% endfor %}
                </div>

            {% else %}
                <div class="pale">
                    <div>timestamp: {{ log.timestamp|date:"D d. M. Y, H:i:s" }}
                        <div class="log_numerator">{{ forloop.counter }}</div>
                    </div>
                         <p>Insgesamt gecrawlte entries: {{ log.duplicate_entries|add:log.new_entries }} ||
                            Davon schon in Datenbank vorhandene:
                                {% if log.duplicate_entries <= 15 %}
                                <b style="color: red;">{{ log.duplicate_entries }}</b>
                                {% else %}
                                {{ log.duplicate_entries }}
                                {% endif %} ||
                            Neu gecrawlte entries: {{ log.new_entries }}
                        </p>
                    <div><b>Errors: {{ error_list|length }}</b></div>
                    {% for error in error_list %}
                    <div style="width: 99%">{{ error.err_type }} || {{ error.caused_by }} </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
</body>
</html>

<style>
    .buttons{
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
    }

    .log_numerator{
        float: right;
    }

    .dark{
        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        font-size: 16px;
        background-color: lightgray;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-radius: 5px;
        padding: 5px 5px 5px 10px;
    }

    .pale{
        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        font-size: 16px;
        background-color: whitesmoke;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-radius: 5px;
        padding: 5px 5px 5px 10px;
    }

    #last_submit{
        float: left;
    }

    #missed_submit{
        float: left;
        margin-left: 50px;
    }

    #by_date_submit{
        float: right;
        margin-left: 50px;
    }

    #interval_submit{
        float: right;
    }

    #log_wrapper{

    }

</style>