<head>
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>  
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <meta charset="UTF-8">
    <title>Plot</title>
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to -->
    {% load chartit %}
    {{ charts|load_charts:"chart"}}
</head>
<body>
    <div id='chart'> Chart will be rendered here </div>
</body>