<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Plot</title>
</head>
<body>

    <img src="{% static '/plots/'%}{{ plotname }}.png" alt="Plot">

</body>
</html>